<ion-view title="CS Lab Printer Problem" id="page5">
  <ion-content padding="true" class="has-header">
    <h2 id="cSLabPrinterProblem-heading4" style="color:#E01313;">Lab Printer Problem</h2>
    <div id="cSLabPrinterProblem-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Description: When it's the deadline for your assignment and you have to print it. Unfortunately, the printer is not working and you don't have time to go to Founders or Ilab. If provided with your vaulable funding, we can make sure that is never
        the case.</p>
    </div>
    <div>
      <img src="img/mQJoYyi7TYeJEMX1PWRO_165ChicagoPrintRepair.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/EAIcD4alTIGYwk79Irs8_Untitled.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="donationWifi" id="cSLabPrinterProblem-button6" class="button button-positive  button-block">Donate!</a>
  </ion-content>
</ion-view>