<ion-view title="Donation Wifi" id="page3">
  <ion-content padding="true" class="has-header">
    <h3 id="donationWifi-heading2" style="color:#EB1C1C;">Howard's Wifi Problems</h3>
    <form id="donationWifi-form4" class="list">
      <label class="item item-input" id="donationWifi-input1">
        <input type="number" placeholder="Enter your amount here">
      </label>
    </form>
    <ion-list id="donationWifi-list4">
      <ion-item class="positive" id="donationWifi-list-item13">Pay with Credit Card</ion-item>
      <label class="item item-input" id="donationWifi-input5">
        <span class="input-label">Name:</span>
        <input type="text" placeholder="">
      </label>
    </ion-list>
    <form id="donationWifi-form7" class="list">
      <label class="item item-input" id="donationWifi-input6">
        <span class="input-label">Card Number: </span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="donationWifi-input8">
        <span class="input-label">Expiry Date (MM/YY): </span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="donationWifi-input10">
        <span class="input-label">CCV:</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="donationWifi-input11">
        <span class="input-label">Zip Code:</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <a ui-sref="thankYou" id="donationWifi-button4" class="button button-positive  button-block">Donate</a>
  </ion-content>
</ion-view>