<ion-view title="Donation Printer" id="page7">
  <ion-content padding="true" class="has-header">
    <h1 id="donationPrinter-heading5" style="color:#E51B1B;">CS Lab Printer</h1>
    <form id="donationPrinter-form8" class="list">
      <label class="item item-input" id="donationPrinter-input9">
        <input type="number" placeholder="Enter your Amount">
      </label>
      <div class="spacer" style="width: 300px; height: 22px;"></div>
      <ion-item class="positive" id="donationPrinter-list-item10">Pay with Credit Card</ion-item>
      <label class="item item-input" id="donationPrinter-input12">
        <span class="input-label">Name:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="donationPrinter-input13">
        <span class="input-label">Card Number:</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="donationPrinter-input15">
        <span class="input-label">Expiry Date (MM/YY):</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="donationPrinter-input14">
        <span class="input-label">CCV:</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="donationPrinter-input16">
        <span class="input-label">Zip Code:</span>
        <input type="number" placeholder="">
      </label>
      <a ui-sref="thankYou" id="donationPrinter-button8" class="button button-positive  button-block">Donate!</a>
    </form>
  </ion-content>
</ion-view>