<ion-view title="List of Donations" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="listOfDonations-list1">
      <ion-item class="item-icon-right" id="listOfDonations-list-item4" ui-sref="howardSWifiProblem">Howard's Wifi Problem
        <span class="item-note">12</span>
        <i class="icon ion-android-arrow-dropup"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="listOfDonations-list-item5" ui-sref="cSLabPrinterProblem">CS Lab Printer Problem
        <span class="item-note">9</span>
        <i class="icon ion-android-arrow-dropup"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="listOfDonations-list-item6">School of Business
        <span class="item-note">8</span>
        <i class="icon ion-android-arrow-dropup"></i>
      </ion-item>
    </ion-list>
    <ion-list id="listOfDonations-list2">
      <ion-item class="item-icon-right" id="listOfDonations-list-item7">Physics Building
        <span class="item-note">4</span>
        <i class="icon ion-android-arrow-dropup"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="listOfDonations-list-item8">Maintance Project
        <span class="item-note">2</span>
        <i class="icon ion-android-arrow-dropdown"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="listOfDonations-list-item9">Gantt Chart
        <span class="item-note">6</span>
        <i class="icon ion-android-arrow-dropdown"></i>
      </ion-item>
    </ion-list>
    <a ui-sref="donationWifi" id="listOfDonations-button1" class="button button-positive  button-block">Pay for all</a>
  </ion-content>
</ion-view>