<ion-view title="Cause Feed" hide-nav-bar="true" id="page1" style="background-color:#003A63;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <ion-list id="causeFeed-list2">
      <div class="item item-body" id="causeFeed-list-item-container1">
        <a ui-sref="addCause" id="causeFeed-button2" style="text-align:justify;" class="button button-balanced button-small icon-left ion-android-add">Add Cause</a>
        <div id="causeFeed-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#33628F;font-size:20px;">
            <strong>Cause Feed</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="causeFeed-list-item3">
        <img src="img/Y9Nh4qBDSiYqwi6n9QpQ_wifi-icon.png">
        <h2balanced>WiFi Fix
          <p style="white-space:normal;">Introduction Message</p>
          <i class="icon ion-android-arrow-dropup"></i>
          <ion-option-button class="button-assertive">Remove</ion-option-button>
          <ion-option-button class="button-positive">Edit</ion-option-button>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="causeFeed-list-item4">
        <img src="img/Y9Nh4qBDSiYqwi6n9QpQ_wifi-icon.png">
        <h2balanced>WiFi Fix
          <p style="white-space:normal;">Short Detail</p>
          <i class="icon ion-android-arrow-dropup"></i>
          <ion-option-button class="button-assertive">Remove</ion-option-button>
          <ion-option-button class="button-positive">Edit</ion-option-button>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="causeFeed-list-item5">
        <img src="img/Y9Nh4qBDSiYqwi6n9QpQ_wifi-icon.png">
        <h2assertive>WiFi Fix
          <p style="white-space:normal;">Short Detail</p>
          <i class="icon ion-android-arrow-dropdown"></i>
          <ion-option-button class="button-assertive">Remove</ion-option-button>
          <ion-option-button class="button-positive">Edit</ion-option-button>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>