<ion-view title="HU Admin Login" hide-nav-bar="true" id="page3" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/A2xSrUrGQi6Mg3i2zZDU_Howard_Logo.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="hUAdminLogin-form1" class="list">
      <h1 id="hUAdminLogin-heading1" style="color:#66CCCC;font-weight:600;text-align:center;">Admin Login</h1>
      <div class="spacer" style="width: 300px; height: 219px;"></div>
      <ion-list id="hUAdminLogin-list3">
        <label class="item item-input" id="hUAdminLogin-input1">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="hUAdminLogin-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 76px;"></div>
      <a ui-sref="causeFeed" id="hUAdminLogin-button1" class="button button-positive  button-block">Log in</a>
    </form>
  </ion-content>
</ion-view>