<ion-view title="Donation Campaign" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="donationCampaign-form1" class="list">
      <label class="item item-input" id="donationCampaign-input1">
        <span class="input-label">Campaign Title:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="donationCampaign-input2">
        <span class="input-label">Description:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="donationCampaign-input3">
        <span class="input-label">Student's Name:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="donationCampaign-input4">
        <span class="input-label">Student's ID:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="donationCampaign-input5">
        <span class="input-label">Donation Goal:</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="confirmation" id="donationCampaign-button2" class="button button-positive  button-block">Submit!</a>
  </ion-content>
</ion-view>