<ion-view title="HU-Donation App (Students)" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="hUDonationAppStudents-list1">
      <ion-item class="item-icon-right" id="hUDonationAppStudents-list-item4" ui-sref="wifiProblem">Howard's Wifi Problem
        <span class="item-note">11</span>
        <i class="icon ion-android-arrow-dropup"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="hUDonationAppStudents-list-item5">Printer Problem
        <span class="item-note">7</span>
        <i class="icon ion-android-arrow-dropup"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="hUDonationAppStudents-list-item6">School of Communication
        <span class="item-note">5</span>
        <i class="icon ion-android-arrow-dropup"></i>
      </ion-item>
    </ion-list>
    <ion-list id="hUDonationAppStudents-list2">
      <ion-item class="item-icon-right" id="hUDonationAppStudents-list-item10">School of Business
        <span class="item-note">3</span>
        <i class="icon ion-android-arrow-dropdown"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="hUDonationAppStudents-list-item11">HU Hospital
        <span class="item-note">5</span>
        <i class="icon ion-android-arrow-dropdown"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="hUDonationAppStudents-list-item12">I lab
        <span class="item-note">7</span>
        <i class="icon ion-android-arrow-dropdown"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>