<ion-view title="Welcome" id="page5">
  <ion-content padding="true" style="white" class="has-header">
    <center>
      <h2>#ImproveTheMecca</h2>
      <img src="img/hu_logo.png" style="height:200px; padding: 5px 5px 5px 5px;"/>
      <p>Made by Howard Students for Howard Students</p>
    </center>
    <div class="spacer" style="width: 300px; height: 140px;"></div>
    <a ui-sref="hUDonationAppStudents" id="welcome-button9" class="button button-positive  button-block">Welcome</a>
  </ion-content>
</ion-view>
