<ion-view title="Wifi Problem" id="page4">
  <ion-content padding="true" class="has-header">
    <h4 id="wifiProblem-heading1" style="color:#E81D1D;">Problems with Wifi Connections</h4>
    <div id="wifiProblem-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Description: One of the most common problems that we students face currently is the wifi connection problem. You know how important wifi is and it is of higher importance. With your support we can help improve the wifi connections throughout the
        University.</p>
    </div>
    <div>
      <img src="img/Xmg3LiEeQg67HRSmVm24_unnamed.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/5bMGrjzOTm6z90auxIDI_Untitled.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div id="wifiProblem-button-bar1" class="button-bar">
      <button id="wifiProblem-button8" class="button button-assertive  button-block">Upvote</button>
      <button id="wifiProblem-button10" class="button button-positive  button-block">Downvote</button>
    </div>
  </ion-content>
</ion-view>