<ion-view title="Thank you" id="page4">
  <ion-content padding="true" class="has-header">
    <h1 id="thankYou-heading3" style="color:#EE1919;">A big Thank You</h1>
    <div id="thankYou-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">A Big Thank you for supporting our campaign. We would be sure to make the most of your donation.</p>
    </div>
    <a ui-sref="app.books" id="thankYou-button5" class="button button-positive  button-block">Home page</a>
  </ion-content>
</ion-view>